PORT=3000

# If you want to keep using Neon, set DATABASE_URL back.
# For the Docker Compose Postgres below, keep these:
POSTGRES_USER=elitedev
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=your_postgres_database_name_here
POSTGRES_PORT=5432
# Used by the backend to connect to the compose service name "postgres"
DATABASE_URL=postgresql://your_postgres_user_here:your_postgres_password_here@127.0.0.1:5432/your_postgres_database_name_here

# Resend Email API Key
RESEND_API_KEY=your_resend_api_key_here

# R2 Bucket to upload backups
# Required for R2 bucket to upload backups
R2_BUCKET=epicron-db-backup
R2_ENDPOINT=your_r2_endpoint_here

# Backup Directory and Retention Days (optional)
R2_PREFIX=backup
BACKUP_DIR=./database-backups
RETENTION_DAYS=1 # 1 day , Takes Backup of Last 1 Days and Delete Backup before it.

# R2 Token For AWS CLI (For Configuration of AWS CLI)
TokenValue=your_r2_token_here # Dont Know Not sure about this.
# AccessKeyID and SecretAccessKey for AWS CLI Configuration
AccessKeyID=your_access_key_id_here
SecretAccessKey=your_secret_access_key_here
